@import "../../style/vars";
@import "../../style/mixins";

$name: #{$prefix}btn;

.#{$name} {
  display: inline-block;
  -webkit-appearance: none;
  border: solid 1px $border-color;
  height: $default-height;
  background: #fff;
  outline: none;
  padding: 0 10px;
  transition: all $transition-time;
  cursor: pointer;
  vertical-align: middle;

  @each $type in primary, success, warning, error {
    $color: #fff;
    @if ($type==primary) {
      $color: $primary-color;
    } @else if ($type==success) {
      $color: $success-color;
    } @else if ($type==error) {
      $color: $error-color;
    } @else if ($type==warning) {
      $color: $warning-color;
    }
    @at-root &--#{$type} {
      background: $color;
      color: #fff;
      border-color: $color;
      &:hover, &:focus {
        background: darken($color, 5);
        border-color: darken($color, 5);

      }

      &:focus {
        background: darken($color, 5);
        border-color: darken($color, 5);
        @include focus-shadow(2px, -1px);
      }

      &:active {
        background: darken($color, 15);
        border-color: darken($color, 15);
      }
    }
  }

}

