@import "./vars";

.#{$name} {
  overflow: auto;

  table {
    table-layout: fixed;
    min-width: 100%;
    //max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
      padding: 0;
      border-bottom: solid 1px $border-color;
      text-align: left;
    }

    tr {
      background-color: #fff;
    }

    th {
      font-weight: bold;
    }

    thead {
      th {
        background-color: darken(#fff, 3);
      }
    }
  }

  @at-root &__cell {
    padding: 10px;
    //word-break: break-all;
  }
  @at-root &--dashed {
    table {
      tbody tr:nth-child(even) {
        background-color: darken(#fff, 2) !important;
      }
    }
  }
  @at-root &--hover {
    table {
      tbody tr {
        transition: background-color $transition-time;

        &:hover {
          background-color: lighten($primary-color, 55%) !important;
        }
      }
    }
  }
  @at-root &--bordered {
    table {
      th, td {
        border-right: solid 1px $border-color;
      }
    }
  }


  @at-root &[class*=fixed] {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 4;
    &[class$=top] {
      left: 0;
      right: 0;
      box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.2)
    }

    &[class$=left] {
      left: 0;
      right: auto;
      bottom: 0;
      box-shadow: 5px 0 10px -6px rgba(0, 0, 0, 0.2)
    }
  }

  @at-root &__footer {
    margin-top: 10px;
    text-align: right;
  }
}