@import "./vars";
.#{$name}-wrapper {
  position: relative;
  width: 100%;
  // 模拟下边框
  &::after{
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    background: $border-color;
    height: 1px;
  }
}