$icomoon-font-family: "uin-icon" !default;
$icomoon-font-path: "./fonts" !default;

$uin-icon--activity: "\e900";
$uin-icon--airplay: "\e901";
$uin-icon--alert-circle: "\e902";
$uin-icon--alert-octagon: "\e903";
$uin-icon--alert-triangle: "\e904";
$uin-icon--align-center: "\e905";
$uin-icon--align-justify: "\e906";
$uin-icon--align-left: "\e907";
$uin-icon--align-right: "\e908";
$uin-icon--anchor: "\e909";
$uin-icon--aperture: "\e90a";
$uin-icon--archive: "\e90b";
$uin-icon--arrow-down-circle: "\e90c";
$uin-icon--arrow-down-left: "\e90d";
$uin-icon--arrow-down-right: "\e90e";
$uin-icon--arrow-down: "\e90f";
$uin-icon--arrow-left-circle: "\e910";
$uin-icon--arrow-left: "\e911";
$uin-icon--arrow-right-circle: "\e912";
$uin-icon--arrow-right: "\e913";
$uin-icon--arrow-up-circle: "\e914";
$uin-icon--arrow-up-left: "\e915";
$uin-icon--arrow-up-right: "\e916";
$uin-icon--arrow-up: "\e917";
$uin-icon--at-sign: "\e918";
$uin-icon--award: "\e919";
$uin-icon--bar-chart-2: "\e91a";
$uin-icon--bar-chart: "\e91b";
$uin-icon--battery-charging: "\e91c";
$uin-icon--battery: "\e91d";
$uin-icon--bell-off: "\e91e";
$uin-icon--bell: "\e91f";
$uin-icon--bluetooth: "\e920";
$uin-icon--bold: "\e921";
$uin-icon--book-open: "\e922";
$uin-icon--book: "\e923";
$uin-icon--bookmark: "\e924";
$uin-icon--box: "\e925";
$uin-icon--briefcase: "\e926";
$uin-icon--calendar: "\e927";
$uin-icon--camera-off: "\e928";
$uin-icon--camera: "\e929";
$uin-icon--cast: "\e92a";
$uin-icon--check-circle: "\e92b";
$uin-icon--check-square: "\e92c";
$uin-icon--check: "\e92d";
$uin-icon--chevron-down: "\e92e";
$uin-icon--chevron-left: "\e92f";
$uin-icon--chevron-right: "\e930";
$uin-icon--chevron-up: "\e931";
$uin-icon--chevrons-down: "\e932";
$uin-icon--chevrons-left: "\e933";
$uin-icon--chevrons-right: "\e934";
$uin-icon--chevrons-up: "\e935";
$uin-icon--chrome: "\e936";
$uin-icon--circle: "\e937";
$uin-icon--clipboard: "\e938";
$uin-icon--clock: "\e939";
$uin-icon--cloud-drizzle: "\e93a";
$uin-icon--cloud-lightning: "\e93b";
$uin-icon--cloud-off: "\e93c";
$uin-icon--cloud-rain: "\e93d";
$uin-icon--cloud-snow: "\e93e";
$uin-icon--cloud: "\e93f";
$uin-icon--code: "\e940";
$uin-icon--codepen: "\e941";
$uin-icon--coffee: "\e942";
$uin-icon--command: "\e943";
$uin-icon--compass: "\e944";
$uin-icon--copy: "\e945";
$uin-icon--corner-down-left: "\e946";
$uin-icon--corner-down-right: "\e947";
$uin-icon--corner-left-down: "\e948";
$uin-icon--corner-left-up: "\e949";
$uin-icon--corner-right-down: "\e94a";
$uin-icon--corner-right-up: "\e94b";
$uin-icon--corner-up-left: "\e94c";
$uin-icon--corner-up-right: "\e94d";
$uin-icon--cpu: "\e94e";
$uin-icon--credit-card: "\e94f";
$uin-icon--crop: "\e950";
$uin-icon--crosshair: "\e951";
$uin-icon--database: "\e952";
$uin-icon--delete: "\e953";
$uin-icon--disc: "\e954";
$uin-icon--dollar-sign: "\e955";
$uin-icon--download-cloud: "\e956";
$uin-icon--download: "\e957";
$uin-icon--droplet: "\e958";
$uin-icon--edit-2: "\e959";
$uin-icon--edit-3: "\e95a";
$uin-icon--edit: "\e95b";
$uin-icon--external-link: "\e95c";
$uin-icon--eye-off: "\e95d";
$uin-icon--eye: "\e95e";
$uin-icon--facebook: "\e95f";
$uin-icon--fast-forward: "\e960";
$uin-icon--feather: "\e961";
$uin-icon--figma: "\e962";
$uin-icon--file-minus: "\e963";
$uin-icon--file-plus: "\e964";
$uin-icon--file-text: "\e965";
$uin-icon--file: "\e966";
$uin-icon--film: "\e967";
$uin-icon--filter: "\e968";
$uin-icon--flag: "\e969";
$uin-icon--folder-minus: "\e96a";
$uin-icon--folder-plus: "\e96b";
$uin-icon--folder: "\e96c";
$uin-icon--frown: "\e96d";
$uin-icon--gift: "\e96e";
$uin-icon--git-branch: "\e96f";
$uin-icon--git-commit: "\e970";
$uin-icon--git-merge: "\e971";
$uin-icon--git-pull-request: "\e972";
$uin-icon--github: "\e973";
$uin-icon--gitlab: "\e974";
$uin-icon--globe: "\e975";
$uin-icon--grid: "\e976";
$uin-icon--hard-drive: "\e977";
$uin-icon--hash: "\e978";
$uin-icon--headphones: "\e979";
$uin-icon--heart: "\e97a";
$uin-icon--help-circle: "\e97b";
$uin-icon--home: "\e97c";
$uin-icon--image: "\e97d";
$uin-icon--inbox: "\e97e";
$uin-icon--info: "\e97f";
$uin-icon--instagram: "\e980";
$uin-icon--italic: "\e981";
$uin-icon--key: "\e982";
$uin-icon--layers: "\e983";
$uin-icon--layout: "\e984";
$uin-icon--life-buoy: "\e985";
$uin-icon--link-2: "\e986";
$uin-icon--link: "\e987";
$uin-icon--linkedin: "\e988";
$uin-icon--list: "\e989";
$uin-icon--loader: "\e98a";
$uin-icon--lock: "\e98b";
$uin-icon--log-in: "\e98c";
$uin-icon--log-out: "\e98d";
$uin-icon--mail: "\e98e";
$uin-icon--map-pin: "\e98f";
$uin-icon--map: "\e990";
$uin-icon--maximize-2: "\e991";
$uin-icon--maximize: "\e992";
$uin-icon--meh: "\e993";
$uin-icon--menu: "\e994";
$uin-icon--message-circle: "\e995";
$uin-icon--message-square: "\e996";
$uin-icon--mic-off: "\e997";
$uin-icon--mic: "\e998";
$uin-icon--minimize-2: "\e999";
$uin-icon--minimize: "\e99a";
$uin-icon--minus-circle: "\e99b";
$uin-icon--minus-square: "\e99c";
$uin-icon--minus: "\e99d";
$uin-icon--monitor: "\e99e";
$uin-icon--moon: "\e99f";
$uin-icon--more-horizontal: "\e9a0";
$uin-icon--more-vertical: "\e9a1";
$uin-icon--mouse-pointer: "\e9a2";
$uin-icon--move: "\e9a3";
$uin-icon--music: "\e9a4";
$uin-icon--navigation-2: "\e9a5";
$uin-icon--navigation: "\e9a6";
$uin-icon--octagon: "\e9a7";
$uin-icon--package: "\e9a8";
$uin-icon--paperclip: "\e9a9";
$uin-icon--pause-circle: "\e9aa";
$uin-icon--pause: "\e9ab";
$uin-icon--pen-tool: "\e9ac";
$uin-icon--percent: "\e9ad";
$uin-icon--phone-call: "\e9ae";
$uin-icon--phone-forwarded: "\e9af";
$uin-icon--phone-incoming: "\e9b0";
$uin-icon--phone-missed: "\e9b1";
$uin-icon--phone-off: "\e9b2";
$uin-icon--phone-outgoing: "\e9b3";
$uin-icon--phone: "\e9b4";
$uin-icon--pie-chart: "\e9b5";
$uin-icon--play-circle: "\e9b6";
$uin-icon--play: "\e9b7";
$uin-icon--plus-circle: "\e9b8";
$uin-icon--plus-square: "\e9b9";
$uin-icon--plus: "\e9ba";
$uin-icon--pocket: "\e9bb";
$uin-icon--power: "\e9bc";
$uin-icon--printer: "\e9bd";
$uin-icon--radio: "\e9be";
$uin-icon--refresh-ccw: "\e9bf";
$uin-icon--refresh-cw: "\e9c0";
$uin-icon--repeat: "\e9c1";
$uin-icon--rewind: "\e9c2";
$uin-icon--rotate-ccw: "\e9c3";
$uin-icon--rotate-cw: "\e9c4";
$uin-icon--rss: "\e9c5";
$uin-icon--save: "\e9c6";
$uin-icon--scissors: "\e9c7";
$uin-icon--search: "\e9c8";
$uin-icon--send: "\e9c9";
$uin-icon--server: "\e9ca";
$uin-icon--settings: "\e9cb";
$uin-icon--share-2: "\e9cc";
$uin-icon--share: "\e9cd";
$uin-icon--shield-off: "\e9ce";
$uin-icon--shield: "\e9cf";
$uin-icon--shopping-bag: "\e9d0";
$uin-icon--shopping-cart: "\e9d1";
$uin-icon--shuffle: "\e9d2";
$uin-icon--sidebar: "\e9d3";
$uin-icon--skip-back: "\e9d4";
$uin-icon--skip-forward: "\e9d5";
$uin-icon--slack: "\e9d6";
$uin-icon--slash: "\e9d7";
$uin-icon--sliders: "\e9d8";
$uin-icon--smartphone: "\e9d9";
$uin-icon--smile: "\e9da";
$uin-icon--speaker: "\e9db";
$uin-icon--square: "\e9dc";
$uin-icon--star: "\e9dd";
$uin-icon--stop-circle: "\e9de";
$uin-icon--sun: "\e9df";
$uin-icon--sunrise: "\e9e0";
$uin-icon--sunset: "\e9e1";
$uin-icon--tablet: "\e9e2";
$uin-icon--tag: "\e9e3";
$uin-icon--target: "\e9e4";
$uin-icon--terminal: "\e9e5";
$uin-icon--thermometer: "\e9e6";
$uin-icon--thumbs-down: "\e9e7";
$uin-icon--thumbs-up: "\e9e8";
$uin-icon--toggle-left: "\e9e9";
$uin-icon--toggle-right: "\e9ea";
$uin-icon--trash-2: "\e9eb";
$uin-icon--trash: "\e9ec";
$uin-icon--trello: "\e9ed";
$uin-icon--trending-down: "\e9ee";
$uin-icon--trending-up: "\e9ef";
$uin-icon--triangle: "\e9f0";
$uin-icon--truck: "\e9f1";
$uin-icon--tv: "\e9f2";
$uin-icon--twitter: "\e9f3";
$uin-icon--type: "\e9f4";
$uin-icon--umbrella: "\e9f5";
$uin-icon--underline: "\e9f6";
$uin-icon--unlock: "\e9f7";
$uin-icon--upload-cloud: "\e9f8";
$uin-icon--upload: "\e9f9";
$uin-icon--user-check: "\e9fa";
$uin-icon--user-minus: "\e9fb";
$uin-icon--user-plus: "\e9fc";
$uin-icon--user-x: "\e9fd";
$uin-icon--user: "\e9fe";
$uin-icon--users: "\e9ff";
$uin-icon--video-off: "\ea00";
$uin-icon--video: "\ea01";
$uin-icon--voicemail: "\ea02";
$uin-icon--volume-1: "\ea03";
$uin-icon--volume-2: "\ea04";
$uin-icon--volume-x: "\ea05";
$uin-icon--volume: "\ea06";
$uin-icon--watch: "\ea07";
$uin-icon--wifi-off: "\ea08";
$uin-icon--wifi: "\ea09";
$uin-icon--wind: "\ea0a";
$uin-icon--x-circle: "\ea0b";
$uin-icon--x-octagon: "\ea0c";
$uin-icon--x-square: "\ea0d";
$uin-icon--x: "\ea0e";
$uin-icon--youtube: "\ea0f";
$uin-icon--zap-off: "\ea10";
$uin-icon--zap: "\ea11";
$uin-icon--zoom-in: "\ea12";
$uin-icon--zoom-out: "\ea13";

