@import "./colors";
@import "./sizes";
@import "./zindex";


$transition-time: 180ms;

$focus-shadow: 0 0 5px -2px $primary-color;

$prefix: u-;

$back-out: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$back-in: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$bac-in-out: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$transition-time-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

$radius: 2px;