@import "../../../style/vars";

$name: n-list;
.#{$name} {
  list-style: none;
  padding: 0;
  margin: 0;
  border: solid 1px $border-color;

  li {
    display: block;
    padding: 10px;
    transition: all .2s;
    &:not(:last-child) {
      border-bottom: solid 1px $border-color;
    }

    &:hover {
      background: darken(#fff, 3);
    }
  }
}