@import "../../style/vars";
@import "../../style/mixins";

$name: n-checkbox;

.#{$name} {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  &+&{
    margin-left: 5px;
  }
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

    &:checked + .n-checkbox__icon {
      background: $primary-color;
      border-color: $primary-color;

      &::after{
        opacity: 1;
        border-color: #fff;
        transform: translateY(-1px) scale(1) rotate(-45deg) ;
      }
    }

    &:focus + .n-checkbox__icon {
      border-color: $primary-color;
      @include focus-shadow(2px,0);
    }
  }

  @at-root &__icon {
    $size: $default-height - 10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border: solid 1px $border-color;
    position: relative;
    text-align: center;
    transition: all $transition-time;
    &::after {
      content: '';
      border-left: solid 2px #fff;
      border-bottom: solid 2px #fff;
      width: $size / 2;
      height: $size / 4 + 1;
      display: inline-block;
      opacity: 0;
      transform: translateY(-1px) scale(.1) rotate(-30deg);
      transition: all $transition-time;
    }
  }
  @at-root &__content{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}