@import "../../../style/vars";
@import "../../../style/mixins";

$name: n-input;
$append-color: darken(#fff, 3);
.#{$name} {
  display: inline-table;
  width: $default-width;
  align-items: center;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  @at-root &--block {
    display: table;
    width: 100%;
  }
  @at-root &__raw {
    position: relative;
    display: flex;
    align-items: center;
    > input {
      border-radius: $radius;
      border: solid 1px $border-color;
      @include relief($border-color);
      width: 100%;
      height: $default-height;
      outline: none;
      transition: all $transition-time;
      padding: 0 .5rem;

      &:focus {
        border-color: $primary-color;
        @include focus-shadow();
      }
    }

    &:hover {
      [class$=clear] {
        opacity: 1;
      }
    }
  }
  @at-root &__clear {
    $size: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: opacity $transition-time;
    width: $size;
    height: $size;
    //position: absolute;
    //top: 50%;
    //right: .5rem;
    line-height: $size;
    text-align: center;
    //transform: translate(0, -50%);
    border-radius: 50%;
    background: darken($border-color, 10);
    color: #fff;
    opacity: .5;
    margin-left: -$size*1.5;
    .uin-icon {
      line-height: inherit;
    }
  }
  [class$=end] {
    border: solid 1px $border-color;
    height: $default-height;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    border-right: none;
    padding: 0 5px;
    background: $append-color;
    color: lighten(#000, 30);
  }

  [class$=append] {
    border-left: none;
    border-right: solid 1px $border-color;
  }
}