@import "../../../style/vars";


.select-enter-active, .select-leave-active {
  transition: all $transition-time $back-out;
}

.select-leave-active {
  transition-timing-function: $back-in;
}

.select-enter, .select-leave-to {
  opacity: 0;
  transform: scaleY(0) !important;
}

$name: n-select;
.#{$name} {
  display: inline-block;
  position: relative;
  @at-root &__display {
    //height: 30px;
    //border: solid 1px $border-color;
    position: relative;
    z-index: 3;
  }


  @at-root &__search {
    outline: none;
    display: block;
    width: 100%;
    padding: 0 10px;
    height: $default-height;
    margin: 0;
    background: none;
    border: solid 1px $border-color;
    border-bottom: none;
  }
  @at-root &__dropdown {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 2px);
    transform-origin: top center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0;
    z-index: 2;
    ul {
      max-height: 200px;
      overflow: auto;

    }
  }
}
